@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');

body
{
	margin: 0;
	background-color: #121212;
	color: #ffffff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Noto Sans Display', sans-serif;
	//text-align: center;
	font-size: 14pt;
}

h1
{
}

h2
{
	margin: 0;
	font-weight: 300;
	font-size: 12pt;
}

pre
{
	margin: 0;
}
